@use '../utils/breakpoints' as bp;
@use '../utils/functions' as f;
/* MAIN */

.main {
    padding-block: f.rem(32);

    h1 {
        color: var(--lt-head-txt);
    }

    &__line {
        border-bottom: 1px solid var(--lt-sub-txt);
        margin-block: f.rem(24);

        @include bp.breakpointMin(large-screen) {
            display: none;
        }
    }

    &__btn {
        width: 60px;
        height: 30px;
        background: var(--btn-bg);
        border-radius: 50px;
        position: relative;

        .slider {
            width: 22px;
            height: 22px;
            position: absolute;
            background-color: var(--btn-slider);
            border-radius: 50%;
            left: 5px;
            top: 4px;
            transition: .3s ease-in;
        }

        .slider-toggle {
            transform: translateX(130%);
        }
    }
}

.darkmode {
    /* DARK THEME */
    --lt-bg: hsl(230, 17%, 14%);
    --lt-user-card-bg: hsl(232, 19%, 15%);
    --lt-card-bg: hsl(228, 28%, 20%);
    --lt-sub-txt: hsl(228, 34%, 66%);
    --lt-head-txt: hsl(0, 0%, 100%);

    --btn-bg: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    --btn-slider: hsl(228, 28%, 20%);
}
