@use '../utils/breakpoints' as bp;
@use '../utils/functions' as f;
/* FOOTER */

footer {
    margin-top: auto;
    padding-top: f.rem(64);
}

.attribution { 
    font-size: 0.75rem;
    font-size: clamp(0.75rem, 0.56rem + 0.73vw, 1rem);
    text-align: center; 
}
    
.attribution a { 
    color: var(--lt-head-txt); 
}
